#!/bin/sh

case "$1" in
    list)
        echo '{ "leases": { } }'
    ;;
    call)
        case "$2" in
            leases)
                # return json object or an array
                echo '{
    "lease-1": {
        "leasetime": "1513286887",
        "hostname": "archy",
        "ipaddr": "192.168.1.231",
        "macaddr": "54:ee:75:94:0b:13",
        "device": "br-lan",
        "connected": true
    }
}'
            ;;
        esac
    ;;
esac
